/* Remove default margins and padding from the browser */
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: block; /* Changes from 'place-items: center' which Vite often defaults to */
  min-width: 100vw;
  min-height: 100vh;
  background-color: #f4f7f9;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}