# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Databases
db.sqlite3

# Firebase Secrets (The most important part!)
serviceAccountKey.json

# Environment variables
.env

# OS specific
.DS_Store